:root {
    --darkText:#343434;
    --lightText:#EAEAEA;
    --bgLight:#F6F6F6;
    --bgPrimary:#3a557d;
    --bgDark:#D6C8C5;
    --mainRed:#E91E63;
    --mainGreen:#4EBF57;
    --mainYellow:#FFC100;
}

#app {
    position:relative;
}

.app-head {
    /*background:#fff;*/
    background:var(--bgPrimary);
    height:120px;
    display:flex;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:500;
}

.app-head a {
    color:#ddd;
    transition: all 0.3s ease-in-out;

}
.app-head a::after {
    content:"";
    display:block;
    width:0;
    height:1px;

    transition: all 0.5s ease-in-out 0.2s;
}
.app-head a:hover::after{
    width:100%;
    height:1px;
    background:var(--lightText);
}

.c-wrapper {
    padding-top:150px!important;
}

html,body {
    width:100%;
    height: 100%;
    background:var(--bgLight);
    color:var(--darkText);
    font-family: 'Montserrat', sans-serif;
}

a {
    color:var(--darkText);
    text-decoration:none;
    transition:all 0.4s ease-in-out;
    font-family: 'Montserrat';
}

.app-head {

}

/********************Header Component **************************/
.hero-usr {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

@media (min-width:0)and (max-width:1024px){
    .hero-usr {
        flex-direction:column;
        align-items:center;
    }
}

.list-group-item {
    border:none!important;
}
.card-header {
    background:#ffffff!important;
    border:none;
}

/**project component classes***************************/

.p-icon {
    padding:0.5rem;
}

.p-status {
    font-size:0.8rem;
    color:#999999;
}
.p-title {
    padding:0.3rem;
}
.p-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black;
}

.p-project-name {
    width:30%;
    position:relative;
}

.p-info {
    padding:0.5rem;
}
.p-icon {

    margin-left:0.2rem;
}

.p-icon .fas, .p-icon .far {
    cursor:pointer;
}

.p-icon .fa-star {
    color:rgb(214, 214, 214);
}
.p-icon .fa-star:hover {
    color:var(--mainYellow);
}

.p-completed {
    color:var(--mainYellow)!important;
}

.colors {
    display:flex;
    position:absolute;
    left:0;
    top:-20px;
    border-radius:0.5rem;
    transition: all 0.2s ease-in-out;
}
.none {
    display: none;
}

.color {
    border:none;
    width:25px;
    height:25px;
    cursor:pointer;
}
.color:hover {
    border:2px solid rgb(252, 235, 163);
}
@media (min-width:0) and (max-width:1024px){
    .p-container {
        flex-direction: column;
    }
    .p-project-name {
        width:100%;
        justify-content: center;
    }
}

/**********end project component classes***************/

/*********ProjectList component classes **************/
.plist-btn-container {
    display: flex;
    justify-content: center;
}
@media (min-width:0) and (max-width:1024px) {
    .plist-btn-container {
        flex-wrap: wrap;
        font-size:70%;
    }
}

/************** Annoucments component ********************/
.announcement {

}



